body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background: #2c374b;
    color: whitesmoke;
}



.CartBtn {
    border: 2px solid rgb(255, 208, 0);
    font-size: 16px;
    transition: transform 0.1s ease-in, all 0.08s ease-in;
    box-shadow: 0 5px 0 rgb(255, 183, 0);
}
    /*background-color: rgb(255, 208, 0);*/

/*.IconContainer {*/
/*    position: absolute;*/
/*    left: -50px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: transparent;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    overflow: hidden;*/
/*    z-index: 2;*/
/*    transition-duration: .5s;*/
/*}*/

.icon {
    border-radius: 1px;
}

/*.text {*/
/*    height: 100%;*/
/*    width: fit-content;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    color: rgb(17, 17, 17);*/
/*    z-index: 1;*/
/*    transition-duration: .5s;*/
/*    font-size: 1.04em;*/
/*    font-weight: 600;*/
/*}*/

.CartBtn:hover  {
    border-color: rgb(255, 183, 0);
    background: rgb(255, 183, 0);
    box-shadow: 0 5px 0 rgb(255, 174, 0);
}

.CartBtn:active{
    transform: translateY(5px);
    background: rgb(255, 174, 0);
    box-shadow: 0 0 0 rgb(255, 174, 0);
}

/*.CartBtn:hover .IconContainer {*/
/*    transform: translateX(58px);*/
/*    border-radius: 40px;*/
/*    transition-duration: .5s;*/
/*}*/

/*.CartBtn:hover .text {*/
/*    transform: translate(10px,0px);*/
/*    transition-duration: .5s;*/
/*}*/

/*.CartBtn:active {*/
/*    transform: scale(0.95);*/
/*    transition-duration: .5s;*/
/*}*/


#subTitleFood, #subTitleDrink{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 80%;
    align-items: center;
}

#subTitleFood h2, #subTitleDrink h2{
    font-size: 20px;
}

.sideMenu{
    height: 100%;
}
.offcanvas-body{
    height: 100%;
    display: grid;
    align-content: space-evenly;
    justify-content: center;
}

.prodContainer h1  {
    font-size: 24px;
    margin-left:30px;
    margin-top:20px;
}

.dropDowns{
    justify-content: space-evenly;
    align-items: center;
}

#foodContainer, #drinkContainer {
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}


@media (max-width: 640px) {
    #foodContainer, #drinkContainer{
        grid-auto-rows: 20rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}



